@keyframes DownToUp{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes TopToDown{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes RightToLeft{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes LeftToRight{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes bounce{
    0%{
        opacity: 0;
        transform: translateY(0%);
    }
    50%{
        opacity: 1;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes flash{
    0%{
        opacity: 1;
        text-shadow: 2px 4px 8px white;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
