@media screen and (max-width:1200px) {
    #ProjectContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }
}

@media screen and (max-width:300px){
    #ProjectContainer .card{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20rem;
    }
}