html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#root {
    width: 100%;
    margin: 0;
    text-align: left;
}

#home {
    margin-top: 3rem;
}

#language {
    margin-top: 3rem;
    padding-top: 8rem;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    color: white !important;
}

.container-fluid {
    transition: background-color 2s ease;
}

a {
    text-decoration: none;
}